Source: archeos-meta
Section: metapackages
Priority: optional
Maintainer: Fabrizio Furnari <fab.furnari@gmail.com>
Standards-Version: 3.9.2
Build-Depends: debhelper (>= 7.0.8)

Package: archeos-system
Architecture: any
Depends: archeos-3d, archeos-gps, archeos-gis, archeos-cad, archeos-db, 
 archeos-graphics, archeos-photogrammetry, archeos-science, archeos-other
Description: ArcheOS main metapackage
 This package depends on all of the metapackages in the ArcheOS system.
 .
 It is also used to help ensure proper upgrades, so it is recommended that
 it not be removed.

Package: archeos-3d
Architecture: any
Depends: 
Description: ArcheOS 3D metapackage
 This package depends on all of the packages in the ArcheOS 3D section.
 .
 It is also used to help ensure proper upgrades, so it is recommended that
 it not be removed.

Package: archeos-gps
Architecture: any
Depends: 
Description: ArcheOS GPS metapackage
 This package depends on all of the packages in the ArcheOS GIS section.
 .
 It is also used to help ensure proper upgrades, so it is recommended that
 it not be removed.

Package: archeos-gis
Architecture: any
Depends: 
Description: ArcheOS GIS metapackage
 This package depends on all of the packages in the ArcheOS GIS section.
 .
 It is also used to help ensure proper upgrades, so it is recommended that
 it not be removed.

Package: archeos-cad
Architecture: any
Depends: 
Description: ArcheOS 3D metapackage
 This package depends on all of the packages in the ArcheOS 3D section.
 .
 It is also used to help ensure proper upgrades, so it is recommended that
 it not be removed.

Package: archeos-db
Architecture: any
Depends: 
Description: ArcheOS DB metapackage
 This package depends on all of the packages in the ArcheOS DB section.
 .
 It is also used to help ensure proper upgrades, so it is recommended that
 it not be removed.

Package: archeos-graphics
Architecture: any
Depends: 
Description: ArcheOS Graphics metapackage
 This package depends on all of the packages in the ArcheOS Graphics section.
 .
 It is also used to help ensure proper upgrades, so it is recommended that
 it not be removed.

Package: archeos-photogrammetry
Architecture: any
Depends: 
Description: ArcheOS Photogrammetry metapackage
 This package depends on all of the packages in the ArcheOS Photogrammetry section.
 .
 It is also used to help ensure proper upgrades, so it is recommended that
 it not be removed.

Package: archeos-science
Architecture: any
Depends: 
Description: ArcheOS Science metapackage
 This package depends on all of the packages in the ArcheOS Science section.
 .
 It is also used to help ensure proper upgrades, so it is recommended that
 it not be removed.

Package: archeos-other
Architecture: any
Depends: 
Description: ArcheOS other metapackage
 This package depends on all of the packages in the ArcheOS other section.
 .
 It is also used to help ensure proper upgrades, so it is recommended that
 it not be removed.

