Source: archeos-meta
Section: metapackages
Priority: optional
Maintainer: Fabrizio Furnari <fab.furnari@gmail.com>
Standards-Version: 3.9.3
Build-Depends: debhelper (>= 7.0.8)
Vcs-Git: git://github.com/archeos/archeos-meta.git
Vcs-Browser: https://github.com/archeos/archeos-meta
Homepage: http://www.archeos.eu

Package: archeos-system
Architecture: all
Depends: archeos-3d,
         archeos-dendrochronology,
         archeos-gps,
         archeos-gis,
         archeos-hardware,
         archeos-cad,
         archeos-db,
         archeos-graphics,
         archeos-internet,
         archeos-office,
         archeos-photogrammetry,
         archeos-publishing,
         archeos-science,
         archeos-statistics,
         archeos-utilities,
         archeos-webgis,
         archeos-other,
         ${misc:Depends}
Description: ArcheOS main metapackage
 This package depends on all of the metapackages in the ArcheOS system.
 .
 It is also used to help ensure proper upgrades, so it is recommended that
 it not be removed.

Package: archeos-desktop
Architecture: all
Depends: archeos-keyring,
         archeos-menu,
         archeos-system,
         archeos-tasks,
         archeos-manual,
         gdm3,
         desktop-base,
         gnome-core,
         locales,
         menu,
         sudo,
         ${misc:Depends}
Description: Standard base desktop metapackage
 This metapackage depends on all of the software needed to build a standard
 ArcheOS environment.
 .
 It is also used to help ensure proper upgrades, so it is recommended that
 it not be removed.

Package: archeos-desktop-xfce
Architecture: all
Depends: archeos-keyring,
         archeos-menu,
         archeos-system,
         archeos-tasks,
         archeos-manual,
         lightdm,
         desktop-base,
         xfce4,
         xfce4-goodies,
         locales,
         menu,
         sudo,
         ${misc:Depends}
Description: Standard base desktop metapackage (XFCE4)
 This metapackage depends on all of the software needed to build a standard
 ArcheOS environment and installs xfce4 instead of gnome.
 .
 It is also used to help ensure proper upgrades, so it is recommended that
 it not be removed.

Package: archeos-tasks
Architecture: all
Depends: tasksel (>=3.00)
Description: ArcheOS tasks for tasksel.
 This package provides ArcheOS tasks in tasksel.

Package: archeos-3d
Architecture: all
Depends: blender, cloudcompare, makehuman, meshlab, invesalius-3.0, whitedune, ${misc:Depends}
Description: ArcheOS 3D metapackage
 This package depends on all of the packages in the ArcheOS 3D section.
 .
 It is also used to help ensure proper upgrades, so it is recommended that
 it not be removed.

Package: archeos-dendrochronology
Architecture: all
Depends: tellervo, ${misc:Depends}
Description: ArcheOS dendrochronology metapackage
 This package depends on all of the packages in the ArcheOS dendrochronology section.
 .
 It is also used to help ensure proper upgrades, so it is recommended that
 it not be removed.

Package: archeos-gps
Architecture: all
Depends: gpsbabel, ${misc:Depends}
Description: ArcheOS GPS metapackage
 This package depends on all of the packages in the ArcheOS GIS section.
 .
 It is also used to help ensure proper upgrades, so it is recommended that
 it not be removed.

Package: archeos-gis
Architecture: all
Depends: grass, openjump, qgis, python-qgis, qgis-plugin-grass, ${misc:Depends}
Description: ArcheOS GIS metapackage
 This package depends on all of the packages in the ArcheOS GIS section.
 .
 It is also used to help ensure proper upgrades, so it is recommended that
 it not be removed.
 
Package: archeos-hardware
Architecture: all
Depends: totalopenstation, cura, ${misc:Depends}
Description: ArcheOS hardware metapackage
 This package depends on all of the packages in the ArcheOS hardware section.
 .
 It is also used to help ensure proper upgrades, so it is recommended that
 it not be removed. 

Package: archeos-cad
Architecture: all
Depends: librecad, ${misc:Depends}
Description: ArcheOS CAD metapackage
 This package depends on all of the packages in the ArcheOS CAD section.
 .
 It is also used to help ensure proper upgrades, so it is recommended that
 it not be removed.

Package: archeos-db
Architecture: all
Depends: pgadmin3, phppgadmin, postgresql, postgis, sqlite3, sqlitebrowser, spatialite-bin, ${misc:Depends}
Description: ArcheOS DB metapackage
 This package depends on all of the packages in the ArcheOS DB section.
 .
 It is also used to help ensure proper upgrades, so it is recommended that
 it not be removed.

Package: archeos-graphics
Architecture: all
Depends: darktable, gimp, gimp-lensfun, gimp-plugin-registry, geeqie, imagej, inkscape, shutter, python-lxml, ${misc:Depends}
Description: ArcheOS Graphics metapackage
 This package depends on all of the packages in the ArcheOS Graphics section.
 .
 It is also used to help ensure proper upgrades, so it is recommended that
 it not be removed.
 

Package: archeos-internet
Architecture: all
Depends: bluefish, icedove, iceweasel, ${misc:Depends}
Description: ArcheOS Internet metapackage
 This package depends on all of the packages in the ArcheOS Internet section.
 .
 It is also used to help ensure proper upgrades, so it is recommended that
 it not be removed. 
 
Package: archeos-office
Architecture: all
Depends: geany, libreoffice, ${misc:Depends}
Description: ArcheOS Office metapackage
 This package depends on all of the packages in the ArcheOS Office section.
 .
 It is also used to help ensure proper upgrades, so it is recommended that
 it not be removed.  

Package: archeos-photogrammetry
Architecture: all
Depends: bundlersfm, cmvspmvs, libvlfeat0, libvlfeat-utils, ppt, ppt-gui, micmac, ${misc:Depends}
Description: ArcheOS Photogrammetry metapackage
 This package depends on all of the packages in the ArcheOS 
 Photogrammetry section.
 .
 It is also used to help ensure proper upgrades, so it is recommended that
 it not be removed.
 
Package: archeos-publishing
Architecture: all
Depends: texmaker, texlive-fonts-extra, jabref, ipe, scribus, lyx, pandoc, ${misc:Depends}
Description: ArcheOS Publishing metapackage
 This package depends on all of the packages in the ArcheOS Publishing section.
 .
 It is also used to help ensure proper upgrades, so it is recommended that
 it not be removed. 

Package: archeos-science
Architecture: all
Depends: marble, marble-plugins, ${misc:Depends}
Description: ArcheOS Science metapackage
 This package depends on all of the packages in the ArcheOS Science section.
 .
 It is also used to help ensure proper upgrades, so it is recommended that
 it not be removed.

Package: archeos-statistics
Architecture: all
Depends: r-base, rstudio, ${misc:Depends}
Description: ArcheOS Statistics metapackage
 This package depends on all of the packages in the ArcheOS Statistics section.
 .
 It is also used to help ensure proper upgrades, so it is recommended that
 it not be removed.
 
Package: archeos-utilities
Architecture: all
Depends: synaptic, file-roller, less, ${misc:Depends}
Description: ArcheOS utilities metapackage
 This package depends on all of the packages in the ArcheOS Statistics section.
 .
 It is also used to help ensure proper upgrades, so it is recommended that
 it not be removed. 
 
Package: archeos-webgis
Architecture: all
Depends: josm, mapserver-bin, ${misc:Depends}
Description: ArcheOS WebGIS metapackage
 This package depends on all of the packages in the ArcheOS WebGIS section.
 .
 It is also used to help ensure proper upgrades, so it is recommended that
 it not be removed. 

Package: archeos-other
Architecture: all
Depends: ${misc:Depends}
Description: ArcheOS other metapackage
 This package depends on all of the packages in the ArcheOS other section.
 .
 It is also used to help ensure proper upgrades, so it is recommended that
 it not be removed.

